.name {
  padding: 0 40px;
  height: 30px;
}

.chips {
  padding: 0 60px;
}

.actions {
  padding: 0 30px;
}

.centerText {
  text-align: center;
  padding: 5px;
}

.borderTable {
  border: 1px solid #aaa; 
  border-collapse: collapse;
}

.ignoredHead {
  background-color: #ddd;
  padding: 0px;
  width: 30px;
}

.ignoredText {
  width: 30px;
  max-width: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  color: transparent;     /* hide text */
  pointer-events: none;   /* disable clicks */
  padding: 0;
  background: #ccc;
}

.hidden {
  /*color: transparent;*/
  color: #00ffdd;
}

.messagePots {
  font-size: 1rem;
  font-weight: normal;
  padding: 0 20px;
  margin: 0px;
}
