.lobby {
  width: fit-content;   /* shrink-wrap to content */
  max-width: 100%;  
  margin: 0px auto; 
  border-collapse: collapse;
}

.blind {
  display: flex;
  align-items: center;
}
.blind2 {
  padding-right: 102px;
}
.blind3 {
  padding-right: 67px;
}